.Explore{
    display: flex;
    flex-direction:column;
    max-width: 327.34px;
}
.explore__content{
    background-color: hsla(210, 91%, 17%, 1);
    padding: 1rem 2rem;

}

.explore__date h5{
    font-size: 11.65px;
    font-weight: 700;
    line-height: 34.95px;
    color: var(--white);
}
.explore__title h2{
    font-size: 19.32px;
    font-weight: 800;
    line-height: 30.29px;
    color: var(--white);
    width: 284.23px;
}
.explore__subtitle p{
    font-size: 11.65px;
    font-weight: 700;
    line-height: 34.95px;
    color: var(--white);
}
@media only screen and (max-width: 550px){
    .explore__title h2{
        width: fit-content;
    }
}